body,html{
background-image: url(https://images.unsplash.com/photo-1511512578047-dfb367046420?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
background-size: 100%;
display: flex;
justify-content: center;
align-items: center;
background-repeat: no-repeat;
}
h1{
    color: aqua;
    border: 2px solid black;
    
    position: absolute;
top: 10px;

font-size: 40px;
}
#Button{
border: 2px solid rgb(255, 255, 255);
color: white;
height: 30px;
width: 100px;
border-radius: 20%;
padding:20px;
text-align:center;
font-family: 'Roboto', sans-serif;
}
#Button:hover{
    background-color:aqua;
    opacity:0.5;
    color: black;
}
#d1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 20%;
    left: 15%;
    flex-direction: column;
}
#p1:hover{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, -6px 23px 20px #CE5937;
}
@keyframes anm{
     from{
text-shadow:0 0 0px aqua
     }
     to{
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, -6px 23px 20px #CE5937;
    
     }
}

#p1{
    margin: 5px;
    animation:anm 2s infinite;
    height: 300px;
    width: 900px;
    text-align: center;
    font-size: 40px;
    color: aqua;
     font-family: 'IBM Plex Mono', monospace;
}